
 <center><h1 class="title" style="font-size: 300%;color:rgb(47,91,122)"> Tu Cuenta <%=@cuenta.id%></h1></center>
 <center>
<table class="table is fullwidth"> 
            <thead>
                <tr>
                    <th>Número de Cuenta</th>
                    <th></th>
                    <th>Tipo</th>
                    <th></th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <td><%= @cuenta.id %></td>
                <td></td>
                <td><%= @cuenta.tipo %></td>
                <td></td>
                <td><%= @cuenta.monto %></td>
            </tbody>
        </table>
</center>